.Task-block{
    margin-bottom: 20px;
    width: 100%;
}

.Task-block .Task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    flex-wrap: wrap;
    margin-top: 10px;
}

.Task-block .Task-item .del{
    margin-left: 30px;
}

.Task-block .Task-item .checkbox{
    flex: 1 1 439px;
    cursor: pointer;
    display: flex;
}

.Task-block .Task-item .Task-item__tools{
    flex: 1 1 60px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.Task-block .Task-item .Task-item__description{
    margin-top: 10px;
    flex: 1 0 100%;
    color: #767676;
    font-size: 14px;
    
}

.Task-block .Task-item .Task-item__description .description-text{
    cursor: pointer;
    user-select: none
}

.Task-block .Task-item .checkbox span{
    flex: 1;
    display: block;
}

.Task-block .Task-item .checkbox input{
    display: none;
}

.Task-block .Task-item .checkbox input:checked + label{
    background-color: #4dd599;
    border-color: #4dd599;
}

.Task-block .Task-item .checkbox input:checked + label svg{
    opacity: 1;
}

.Task-block .Task-item .checkbox input:checked + label svg path{
    stroke: #fff;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
    margin-right: 30px;
}

label svg{
    opacity: 0;
    margin-left: 2.4px;
}

.Task-block .Task-item .checkbox svg{
    transition: opacity 0.15s ease-in-out;
}

.Task-block .Task-item .checkbox svg path{
    stroke: #f2f2f2;
}



.Task-block .Task-item img {
    cursor: pointer;
}

.Task-block .Task-item .checkbox:hover label{
    background-color: #4DD599;
    border: 2px solid #4DD599;
}

.Task-block .Task-item .checkbox:hover svg{
    opacity: 1;
}

label.Active-label{
    background-color: #4DD599;
    border: 2px solid #4DD599;
}

svg.Active-label{
    opacity: 1;
}

.Complited-text{
    text-decoration: line-through;
}