.Task{
    padding: 56px 100px;     
}

.Title{
    font-weight: bold;
    font-size: 42px;
    display: flex;
    align-items: center;
}

.Title img{
    margin-left: 14px;
    cursor: pointer;
}

.Border{
    height: 2px;
    margin: 20px 0 40px 0;
    background: #F2F2F2;
    width: 100%;
}

.Button {
    color: #767676;
    font-size: 14px;
}


.Button img{
    margin: 0 37px 0 6px;
}

.Title--grey{
    color: #c9d1d3;
}

.Title--lime{
    color: #b6e6bd;
}

.Title--purple{
    color: #c355f5;
}

.Title--black{
    color: #08001a;
}

.Title--red{
    color: #ff6464;
}

.Title--green {
    color: #42b883;
  }

.Title--blue{
    color: #64c4ed;
}

.Title--pink{
    color: #ffbbcc;
}

.Full-task{
    padding: 46px 0; 
}

.Standard-view {
    margin-bottom: 50px;
    padding: 0 100px; 
}