header {
    background-color: #e4e7ed;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
  
  header .Logo-name {
    font-size: 30px;
    font-weight: 400;
    padding: 15px 0px 15px 30px;
  }