.Description li:first-child{
    margin: 5px 0;
}

.Description li{
    color: #000;
    font-size: 16px;
}

.Description li span{
    margin-right: 3px;
}

.Description li a{
    color: blue;
    padding-left: 2px;
}

.Description li a:hover{
    text-decoration: underline;
}