.Routestrans{
    border-bottom: 1px solid #027dc5;
    font-weight: 300;
}

.Routestrans ul{
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.Routestrans ul a {
    color: #000;
}

.Routestrans ul li{
    margin-left: 15px;
}





