.Menu {
    background-color: #e4e7ed;
    border-radius: 5px;
    margin-top: 10px;
    width: 20%;
    height: 600px;
  }
  .Menu .Menu-list {
    list-style: none;
    font-size: 20px;
    font-weight: 350;
  }
  
  .Menu .Menu-list li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 40px;
  }
  
  .Menu .Menu-list li a:nth-child(1){
    border-radius: 5px 5px 0 0;
  }
  
  .Menu .Menu-list li a:hover{
    background-color: #c9cdd4
  }