.TodoList{

}

.TodoList h1 {
    margin-bottom: 20px;
    
    font-size: 50px;
    font-weight: 600;
}

.TodoList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.TodoList ul li {
    border: 2px double #eae8db;
    /* border-bottom: none; */
    padding: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.TodoList ul li img {
    width: 30px;
    cursor: pointer;
    display: none;
}

.TodoList ul li:hover img {
    display: block;
}


