.News{
    border-bottom: 1px solid #027dc5;
}

.News .News_subline{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 300;
}
.News .News_subline span{
    font-size: 16px;
    color: #027dc5;
    margin-right: 35px;
    font-weight: 700;
}


.News ul li{
    list-style-image: url("/data/images/lists/marker-little.gif");
    margin-bottom: 10px;
    
}

.News .News_label-text{
    margin: 25px 0;
    font-size: 18px;
    font-weight: 300;
}